/* este archivo no esta leido, pusé los estilos directamente en main.css */

.q-field .q-icon.text-negative,
.q-field .q-field__control.text-negative,
.q-field div[role='alert'] {
  color: #ff5722 !important;
}
.q-field--filled.q-field--highlighted .q-field__control::before {
  opacity: 0;
  background: transparent;
}
.q-field .q-field__label {
  color: #000 !important;
  opacity: 60% !important;
}
