// TEXT FONT
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,300&display=swap');

// VARIABLES
$dark: #010f1a;
$white: #fdfffc;
$verde: #1fa245;
$red: #e71d36;
$naranja: #f6921e;
$mi-fuente: 'Nunito Sans', sans-serif;

// STYLE
* {
  margin: 0;
  padding: 0;
  font-family: $mi-fuente;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-sm;
}

// INVESTIGAR, la primera precarga no lee los estilos globales compartidos en las pages con clases.
.cont-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* QUASAR TABLE */
.q-table thead,
.q-table tr,
.q-table th,
.q-table td {
  border: none;
  /* @apply border-gray-400; */
}
.q-table {
  @apply border-t-[1px]
  /* border: 1px solid #f6921e; */
  /* @apply border-[1px] border-gray-200; */;
}
.q-table tr th {
  font-weight: bold;
  text-transform: uppercase;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* TABLA HTML */
.table {
  width: 100%; /* La tabla ocupará el ancho completo del contenedor */
  border-collapse: collapse; /* Combina los bordes de las celdas */
  th,
  td {
    border: 1px solid #ccc; /* Añade bordes a las celdas */
    padding: 8px; /* Espaciado interno para el contenido */
    text-align: center; /* Centra el texto en las celdas */
    height: 42px;
  }

  th {
    background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
  }
}
// .q-card__section q-card__section--vert q-dialog__message
.q-dialog-plugin {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .q-dialog__title {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    padding-bottom: 0px;
  }
  .q-card__section--vert {
    padding-bottom: 0px;
  }
}

// BACKGROUND
.backImage {
  position: relative;

  /* Otros estilos del elemento */
}

.backImage::before {
  content: '';
  background-image: url('~/assets/img/planta5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.65; /* Ajusta la transparencia aquí,  0.4 es el  40% */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; /* Asegura que la imagen de fondo esté detrás del contenido */
}

.borde1 {
  border: 2px solid red;
}
.borde2 {
  border: 2px solid blue;
}

.q-drawer-container .q-item.q-router-link--active,
.q-drawer-container .q-item--active {
  color: rgb(251, 255, 0);
}

.q-tab {
  padding: 0 16px;
  margin-bottom: 12px;
}

// DIALOG MESSAGE
.q-dialog__message {
  // border: 1px solid red;
  line-height: 1;
  // font-size: 13px;
}

.custom-option.option-content {
  padding: 0 4px; /* Apply padding to a wrapper inside the section */
}
.custom-option.q-item__section {
  padding: 0 4px !important; /* Forces the padding style */
}

// q-select

// .q-menu {
// height: 150px;
// }
.q-item {
  min-height: 20px;
  padding: 3px 12px;
  transition: color 0.3s, background-color 0.3s;
}
.q-item.first {
  color: gray;
}
.q-item.title {
  font-weight: bold;
}
.q-item.option {
  padding-left: 30px;
}

// // TABLAAAAA EXPANSIVA
// .q-item {
//   min-height: 48px;
//   padding: 0px 0px;
//   color: inherit;
//   transition: color 0.3s, background-color 0.3s;
// }
// .q-item__section--avatar {
//   color: inherit;
//   min-width: 0px;
// }
// .q-item__section--side {
//   color: #757575;
//   align-items: flex-start;
//   padding-right: 0px;
//   width: auto;
//   min-width: 0;
//   max-width: 100%;
// }

// MENSAJES DE ERROR INPUTS
.q-field__bottom {
  padding: 3px 5px;
}
.q-field--dense .q-field__bottom {
  font-size: 10px;
}
